.segment.segment--primary
    nav.list-menu
      div.list-menu__list
        h4.list-menu__heading Projects
        a.list-menu__item(href="#_" ng-click="gotoClientWork()") Case Studies
      div.list-menu__list
        h4.list-menu__heading Products
        a.list-menu__item(href="//trifork.com/?portfolio=mobilepay") MobilePay
        a.list-menu__item(href="//trifork.com/trifork-device-grid/") Device Grid
        a.list-menu__item(href="//trifork.com/notify/") Trifork Notify
        a.list-menu__item(href="//trifork.com/Industries") More...
      div.list-menu__list
        h4.list-menu__heading Open Source
        a.list-menu__item(href="//github.com/mesos/logstash") Mesos Logstash
        a.list-menu__item(href="//github.com/trifork/erjang") Erjang
        a.list-menu__item(href="//github.com/triforkse/trifork.se") This Website
        a.list-menu__item(href="//github.com/triforkse/whitey") Whitey
        a.list-menu__item(href="//github.com/AxonFramework/AxonFramework") Axon Framework
        a.list-menu__item(href="//github.com/trifork") More...
      div.list-menu__list
        h4.list-menu__heading For Devs
        a.list-menu__item(href="/jobs") Jobs in STHLM
        a.list-menu__item(href="/goto-nights-stockholm") Community Events
        a.list-menu__item(href="/goto-conference-stockholm") GOTO Conference
        a.list-menu__item(href="/handbook") Handbook
      div.list-menu__list
        h4.list-menu__heading Social
        a.list-menu__item(href="https://www.facebook.com/TriforkSTHLM/" target="_blank") Facebook
        a.list-menu__item(href="https://www.linkedin.com/company/trifork-ab" target="_blank") LinkedIn
        a.list-menu__item(href="https://twitter.com/triforkSTHLM" target="_blank") Twitter
        a.list-menu__item(href="http://www.meetup.com/gotosthlm/" target="_blank") GOTO Tech Meetup
      div.list-menu__list
        h4.list-menu__heading Contact
        a.list-menu__item(href="/contact") Stockholm
        a.list-menu__item(href="//trifork.com/offices") Global

    .cf
