.segment.segment--primary
    nav.list-menu
      div.list-menu__list
        h4.list-menu__heading Projects
        a.list-menu__item(href="#_" ng-click="gotoClientWork()") Case Studies
      div.list-menu__list
        h4.list-menu__heading Products
        a.list-menu__item(href="#") Mobile Pay
        a.list-menu__item(href="#") Notify
        a.list-menu__item(href="//trifork.com/Industries") More...
      div.list-menu__list
        h4.list-menu__heading Open Source
        a.list-menu__item(href="//github.com/trifork/erjang") Erjang
        a.list-menu__item(href="//github.com/triforkse/trifork.se") This Website
        a.list-menu__item(href="//github.com/trifork") More...
      div.list-menu__list
        h4.list-menu__heading For Devs
        a.list-menu__item(href="/handbook") Handbook
        a.list-menu__item(href="/events") Events
        //- a.list-menu__item(href="/blog") Blog
      div.list-menu__list
        h4.list-menu__heading Our Team
        a.list-menu__item(href="/jobs") Jobs
      div.list-menu__list
        h4.list-menu__heading Contact
        a.list-menu__item(href="/contact") Stockholm
        a.list-menu__item(href="//trifork.com/offices") Global
