extends layouts/page-with-menu

block page-content
  div(ng-controller="ContactController")
    .map.map--large.hidden-xs
      #worldMap
      .map__label
        .map__title 20 Offices in 9 Countries
        p
        | The Swedish Trifork Office is one of many Trifork.<br>
        | If you are looking for one of our other offices, head over
        | to our&nbsp;
        a(href="//trifork.com/offices/") Global Website.


    .segment
      h1.segment__heading Contact Trifork Stockholm

      .segment__inset
        .vcard
          .vcard__name
            span.vcard__field
            | Trifork AB
          .vcard__street
            span.vcard__field Street
            | Ferkens Gränd 3
          .vcard__city
            span.vcard__field City
            | SE-111 30 Stockholm
          .vcard__country
            span.vcard__field Country
            | Sweden
          .vcard__vat
            span.vcard__field Org no.
            | 556993-3392
          .vcard__email
            span.vcard__field Email
            a(href="mailto:stockholm@trifork.com") stockholm@trifork.com

        .vcard
          .vcard__name
            span.vcard__field
            | Thomas Anagrius
          .vcard__title
            span.vcard__field Title
            | VD, Managing Director
          .vcard__phone
            span.vcard__field Phone
            | +46 70 445 0863
          .vcard__email
            span.vcard__field Email
            a(href="mailto:thb@trifork.com") thb@trifork.com
        .cf

    .segment.segment--secondary
      h2.segment__heading How can we help you?
      .segment__lead
        | The first step to building great software building a great relationship.<br>
        | If you're aiming to grow your business,
        | change your industry, or the world. We want to help.
      .letter-container
        .letter-container__thanks
          | Thank You &#x2764;
        .letter
          a(id="form")
          form#contactForm.letter__content(name="contactForm")
            .field-group
              label.field-group__label(for="name") Your Name
              input.field-group__field(tabindex="100", type="text", name="name", required, ng-model="data.name")

            .field-group
              label.field-group__label(for="email") Your Email
              input.field-group__field(tabindex="200", type="email", name="email", required, ng-model="data.email")

            .g-recaptcha(tabindex="300", data-sitekey="6LdtAAMTAAAAAMlJbUgINabbqfzPfJdgS-LlSxZT")

            .text-group.text-group__field--medium
              textarea.text-group__field(tabindex="400", name="message", placeholder="Message...", required,
              ng-model="data.message")

            button.letter__send(tabindex="500", type="submit", ng-click="sendLetter()",
              disabled,
              ng-disabled="!isFormValid()") Send

    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyLw04OfhQAPKR1Vbnwi6YHu_kwc3mO-s")
    script(type="text/javascript", src="/js/pages/contact.js")
    script(type="text/javascript", src='https://www.google.com/recaptcha/api.js')
