extends layouts/page-with-menu

block page-content
  .segment.segment--header
    .content
      h1.segment__heading GOTO Stockholm
      p.segment__lead
        br
        | GOTO; is a software confernece where world renound, developer,
        | leaders, thinkers and researchers are brought together to look at
        | tomorrow's technology. We focus on everything from new languages,
        | concurrency, distributed systems, trending database to security,
        | process, leadership and web tech.
        br
        | In 2016 the GOTO; is coming to Stockholm — and we couldn't
        | be more exited!
         
