extends layouts/page-with-menu

block page-content
  .segment.segment--header-half
    h1.segment__heading We're Hiring
    p.segment__lead
      | At Trifork we are always looking for new talent to join in the fun.<br>
      | You think you've got what it takes or are up for the challenge in making us better, you should call us.<br>
      | We think Trifork is a great place to work. That's why we work here! :-)

  .thumbnail-list
    for i in [1,2,3,4,5,6,7,8,9,10]
      .thumbnail-list__item
        img(src="/img/office/#{i}.jpg").thumbnail-list__thumbnail


  .map.u-hidden-xs
    #map
    .map__label
      .map__title Smack Dab in the Middle
      p
      | It does not get much more central than the Trifork Office. In Gamla Stan (Old Town)
      | with the subway a few minutes walk away. The central station one stop away.
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyLw04OfhQAPKR1Vbnwi6YHu_kwc3mO-s")
  script(type="text/javascript", src="/js/map.js")

  .segment.content
    .column-6
      :markdown
        ## What we're looking for

        We are looking for social, outgoing people that consider themselves
        generalists. You are good at many things and expert at a few things.

        You should be ready to take on challenges in areas you have never delt
        with before and be ready to plan and host social events, come up with
        innovative product ideas and make our clients happy.

        You are self-concious, inquisitive, intelligent, and hungry to learn from
        your co-workers – and teach others as well.

        We are looking for _full-stack developers_,
        _conference coordinators_, and _project managers_.

        ### Interested in working at Trifork?

        You should swing by at one of our [Events](/goto-nights-stockholm).
        Most of them we host at the office in Gamla Stan.
        These events are a great way to learn more about what
        it's like to work with us, and you'll get to meet us in person.

        ### Interview Process

        Don't be afraid to apply! We welcome all applications.
        You can read more about our [Interview Process](/handbook#interview-process)
        in our handbook.

        If you have heard that our interviews are thorough —
        you heard right — we are _tough but fair_. We think that finding the right people
        is the key to success for any company.
        Our environment has a high level of competence, and we want it to remain
        that way. We also want to learn new things, so you have to bring something to the table too.

        We value kind, thoughful, and considerate people. And our interview
        process is designed around finding a good fit for the our current team as well.

        ### Code Retreat

        A couple of times a year teams rent a car and go out into the wilderness.
        Here people have a chance to work on non-client-related projects,
        hacking on some cool projects together. Some of our most innovative stuff
        have resulted from these trips — and that is great fun is just an added bonus!

        ### Knowledge Sharing

        At Trifork we believe that it is very important that we always Leaning, Teaching,
        and Evolving. We aim to use roughly 10% of our time for sharing and teaching.
        For instance we do [Tech Lunches](/handbook#tech-lunches) — informal ad-hoc events
        here someone from the team teaches the others about a e.g. framework, a new language,
        a hobby project they have been working on.


    .column-6
      h2 We choose to work with
      ul.img-list
        mixin tech(img, text)
          li.img-list__item
            img(src="/img/tech/#{img}.png").img-list__img
            div.img-list__text
              | #{text}
        +tech("docker", "Docker, Mesos and Kubernetes")
        +tech("clojure", "Clojure & Datomic")
        +tech("html5", "HTML5 & JS like ReactJS")
        +tech("objc", "Objective-C & Swift for iOS")
        +tech("postgresql", "PostgreSQL")
        +tech("python", "Django & Python Scripting")
        +tech("erlang", "Erlang & XMPP")
        +tech("java", "Java, Spring & Gradle")
        +tech("android", "Android")
        +tech("riak", "Riak Riak & other NoSQL databases")

      :markdown
        ### Helping our Client Evolve

        It is important to note that while _we_ may be on the forefront of tech our clients are usual not.
        All our developers are provisient in languages like `Java` and `C#` and these great technologies are
        the cornorstone of Today's IT systems.

        We are very open to learn new things and adapt. We love
        new programming languages and frameworks and we reevaluate our choices constantly.
        We think it is important that we choose the _Right Tool for The Job™_ but to
        do that you have to know all the tools at your disposal!

    .cf

    a.read-more-link.read-more-link--centered(href="mailto:stockholm@trifork.com")
      b Want to work for us?
      div Send us an email and tell us!
