.article
  max-width ipad-content-max
  padding-left space-unit
  padding-right space-unit
  box-sizing border-box
  margin 0 auto

.article h1
  margin-bottom space-unit * 2
  counter-reset article-h2
  counter-increment article-h1

.article h4
  font-default()
  font-size 22px
  font-weight 400
  margin-top space-unit
  margin-bottom (space-unit / 4)
  border-bottom solid 1px color-bg-medium

.article
  font-content()
  text-align justify

.article p:not(:last-child)
  margin-bottom (space-unit / 2)

.article h2
  font-imposing()
  margin-top space-unit * 2
  margin-bottom space-unit
  counter-reset article-h3
  counter-increment article-h2

  &:before
    content counter(article-h2)
    margin-right (space-unit / 2)

.article h3
  font-default()
  font-m()
  margin-top space-unit
  margin-bottom (space-unit / 4)
  counter-increment article-h3
  margin-right (space-unit / 2)

  &:before
    content counter(article-h2) "." counter(article-h3)
    margin-right (space-unit / 2)

.toc
  position fixed
  width 100%
  z-index 3
  perspective 100
  transform-style preserve-3d
  transition transform 0.5s
  transition-timing-function ease-in-out
  transform-origin center top

.toc__container
  margin 0 auto
  max-width 900px
  padding (top-menu-height + space-unit * 2) (space-unit * 2) (space-unit * 2)
  background-color white
  box-shadow 0 0 5px #d3d3d3;

.toc--hidden
  transform translateY(-100%)

.toc__column
  column(4)
  +screen-sm()
    column(12)

.toc__title
  font-lb()
  text-transform uppercase
  color color-primary
  margin-bottom space-unit

.toc__entry
  width 100%
  display block

.toc__entry--level-1
  font-weight 700

.toc__entry--level-2
  font-size 14px

.toc__entry:hover
  color color-primary

.toc__entry:not(:last-child)
  margin-bottom 10px

.toc__entry-title
  float left

.toc__entry-number
  float right
  width 40px
  text-align right
  font-monospace()

.article ol,
.article ul
  padding 0 (space-unit / 2)
  margin space-unit 0

.article ul li
  list-style-type disc
  margin-left space-unit

  &:not(:last-child)
    margin-bottom (space-unit / 3)

.article ol li
  list-style-type decimal
  margin-left space-unit

  &:not(:last-child)
    margin-bottom (space-unit / 3)


.article blockquote
  padding space-unit
  font-default()

.article blockquote p
  line-height 1.1
  margin-bottom 0 !important

.article .u-anchor
  // This makes the TOC links jump to a position so the headers
  // are shown. Else the heading will be covered by the top menu.
  position relative
  margin-top -50px

.preview
  color red
  padding space-unit
  margin-top space-unit
  border solid 1px #000
