.page-banner
  position fixed
  right -80px
  top 40px
  width 300px
  padding 20px 0
  background-color #F47821
  color white
  text-align center
  z-index 10000
  transform rotateZ(45deg)
  font-size: 24px
  text-decoration none
