.area-chart__area
  fill color-primary
  opacity 0.5
  transition fill 1.2s, opacity 1.2s

.area-chart__line
  stroke darken(color-primary, 20%)
  stroke-width 2px
  fill none
  transition stroke 1.2s