.area-chart__area
  mask: url(#mask-stripe)
  fill: color-goto
  opacity 0.2
  transition fill 1.2s, opacity 1.2s

.area-chart__line
  stroke darken(color-goto, 20%)
  stroke-width 1px
  fill none
  transition stroke 1.2s

.area-chart__label
  font-size 9px
  color color-muted
