.content
  margin 0 auto
  max-width 1200px

.content h2
  margin-bottom space-unit

.content h3
  font-ln()
  margin-top space-unit*2
  margin-bottom space-unit

.content p:not(:last-child)
  margin-bottom (space-unit/2)

.content code
  font-family monospace
  color #655f59

