.dropdown
  c = color-bg-medium
  background-color c
  border 1px solid darken(c, 20%)
  color white
  position relative
  cursor pointer

.dropdown--hidden .dropdown__frame
  display none

.dropdown--top-menu
  display inline-block
  margin 0 20px
  line-height 70px

.dropdown__frame
  position absolute
  right 0

.dropdown--top-menu
  float right
