field-group__field__border-color = #d3d3d3
field-group__field__bg-color = #ffffff

.field-group
  display block
  margin-bottom (space-unit / 2)

.field-group__label
  display block
  margin-bottom (space-unit / 4)

.field-group__field,
.text-group__field
  border solid 1px field-group__field__border-color
  padding 7px
  background-color field-group__field__bg-color
  outline none
  display block
  width 100%
  box-sizing border-box
  font-default()
  font-m()

.text-group__field
  flex 1 1 auto

.text-group
  display flex
  align-items stretch
  justify-content space-between

text-group__height = 120px

.text-group__field--medium .text-group__field
  height 120px

