.img-list
  margin-top space-unit

.img-list__item
  margin-bottom (space-unit/2)

.img-list__img
  display inline-block
  vertical-align middle
  margin-right (space-unit/2)
  margin-left (space-unit/2)

.img-list__text
  display inline-block
  vertical-align middle
