.jumbo-list__item
  border-radius 20px
  padding space-unit * 3
  background-color color-bg
  border solid 1px lighten(color-bg-dark-secondary, 20%)
  margin-left auto
  margin-right auto
  max-width 900px
  box-sizing border-box

.jumbo-list__item:not(:last-child)
  margin-bottom space-unit

.jumbo-list__header
  font-ln()
  color color-text
  margin-bottom (space-unit / 2)

.jumbo-list__text
  font-m()
  color color-text-inverse

.jumbo-list__datetime
  float right
  margin-right -100px
  margin-top -70px
  transform rotate(10deg)
  background-color color-primary
  color color-text-inverse
  padding space-unit

.jumbo-list__empty-label
  color color-text-inverse
  font-mn()
  text-align center
