.event-list__item
  row(12)
  border-radius 20px
  padding space-unit
  border solid 1px lighten(color-bg-dark-secondary, 20%)
  margin-left auto
  margin-right auto

.event-list__col-image
  column(3)
  text-align center

.event-list__col-description
  column(9)

.event-list__item:not(:last-child)
  margin-bottom space-unit

.event-list__thumbnail
  width 150px

.event-list__header
  font-ln()
  color color-text-inverse
  margin-bottom (space-unit / 2)

.event-list__text
  font-m()
  color color-text-inverse