.list-menu
  max-width screen-lg-min
  margin 0 auto

.list-menu__list
  column(2)
  @media screen and (max-width: screen-xs-max)
    column(12)
    margin-bottom space-unit

.list-menu__heading
  font-weight bold
  text-transform uppercase
  color color-text-inverse
  margin-bottom (space-unit / 2)

.list-menu__item
  display block
  margin-bottom (space-unit / 4)
  color color-text-inverse
  text-decoration none

  &:hover
    color color-text
