.list-menu
  row(12)
  margin 0 auto

.list-menu__list
  column(2)

.list-menu__heading
  font-weight bold
  text-transform uppercase
  color color-text-inverse
  margin-bottom (space-unit / 2)

.list-menu__item
  display block
  margin-bottom (space-unit / 4)
  color color-text-inverse
  text-decoration none

  &:hover
    color color-text