/*
 * Import nib
 */
body {
  width: 100%;
}
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
.top-menu {
  background-color: rgba(0,0,0,0.85);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 300;
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  -o-transition: top 0.4s;
  -ms-transition: top 0.4s;
  transition: top 0.4s;
}
.top-menu--alternative {
  background-color: rgba(242,242,242,0.85);
  border-bottom: solid 1px #f2f2f2;
}
.top-menu--alternative .top-menu__link {
  color: #000;
}
.top-menu--alternative .top-menu__link:before {
  background-color: #000;
}
.top-menu__logo {
  background-image: url("/img/logo.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 70px 70px;
  -moz-background-size: 70px 70px;
  background-size: 70px 70px;
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  top: 35px;
  margin-left: 30px;
}
.top-menu__logo:hover {
  -webkit-animation: rumble linear 0.3s 0s infinite;
  -moz-animation: rumble linear 0.3s 0s infinite;
  -o-animation: rumble linear 0.3s 0s infinite;
  -ms-animation: rumble linear 0.3s 0s infinite;
  animation: rumble linear 0.3s 0s infinite;
}
.top-menu__container {
  margin: 0 30px;
  position: relative;
  text-align: center;
}
.top-menu__nav {
  list-style-type: none;
  font-size: 18px;
  font-family: "proxima-nova", Georgia, Cambria, "Times New Roman", Times, serif;
}
.top-menu__link {
  display: inline-block;
  margin: 0 20px;
  line-height: 70px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  position: relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.top-menu__link:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: bottom 0.2s 0.1s, opacity 0.1s 0.1s;
  -moz-transition: bottom 0.2s 0.1s, opacity 0.1s 0.1s;
  -o-transition: bottom 0.2s 0.1s, opacity 0.1s 0.1s;
  -ms-transition: bottom 0.2s 0.1s, opacity 0.1s 0.1s;
  transition: bottom 0.2s 0.1s, opacity 0.1s 0.1s;
}
.top-menu__link:hover:before {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  bottom: 19px;
}
.top-menu--hidden {
  top: -120px;
}
@-moz-keyframes rumble {
  50% {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}
@-webkit-keyframes rumble {
  50% {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}
@-o-keyframes rumble {
  50% {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}
@keyframes rumble {
  50% {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}
.segment {
  padding: 90px;
  position: relative;
  overflow: hidden;
}
.segment--offset {
  margin-top: 70px;
}
.segment--primary {
  background-color: #ff9115;
  color: #6e3b00;
}
.segment__heading {
  text-align: center;
  position: relative;
  z-index: 2;
}
.segment__subheading {
  font-family: "proxima-nova", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 28px;
  color: #f88400;
}
.segment__bottom-icon {
  color: #000;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  left: 0;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.segment__bottom-icon:hover {
  color: #fff;
}
.segment__menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.segment__inset {
  width: 900px;
  margin: 90px auto 0;
}
.segment__heading {
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  -ms-transition: color 1s;
  transition: color 1s;
}
.segment__lead {
  text-align: center;
  max-width: 900px;
  position: relative;
  z-index: 2;
  margin: 60px auto 0;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  -ms-transition: color 1s;
  transition: color 1s;
}
.segment--secondary {
  background-color: #272422;
}
.segment--secondary .segment__heading {
  color: #fff;
}
.segment--secondary .segment__lead {
  color: #ccc;
}
.case-study {
  display: block;
  height: 500px;
  -webkit-background-origin: center, center;
  -moz-background-origin: center, center;
  background-origin: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.case-study__content {
  margin: 0 auto;
  width: 1100px;
}
.case-study--fmk {
  background-image: url("../img/case_study_fmk.jpg");
}
.case-study--db {
  background-image: url("../img/case/mobilepay.png");
}
.case-study--cs {
  background-image: url("../img/case/credit_suisse.png");
}
.segment__button {
  position: relative;
  z-index: 2;
}
.segment__expand {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  -webkit-transition: top 0.666666666666667s, bottom 0.5s, left 1s, right 1s;
  -moz-transition: top 0.666666666666667s, bottom 0.5s, left 1s, right 1s;
  -o-transition: top 0.666666666666667s, bottom 0.5s, left 1s, right 1s;
  -ms-transition: top 0.666666666666667s, bottom 0.5s, left 1s, right 1s;
  transition: top 0.666666666666667s, bottom 0.5s, left 1s, right 1s;
  background-color: #ff9115;
}
.segment--expanded .segment__heading {
  color: #fff;
}
.segment--expanded .segment__lead {
  color: #fff;
}
.segment--half {
  padding: 90px;
}
.segment--bg-img {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.segment--left-shadowed {
  text-align: left;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
.segment--left-shadowed .segment__heading {
  text-align: left;
}
.segment--left-shadowed .segment__lead {
  text-align: left;
  max-width: none;
  margin-top: 15px;
}
.segment--header {
  padding: 310px 240px 240px;
}
.segment--header-half {
  padding: 220px 240px 150px;
}
.segment__section-heading {
  margin: 60px 0;
  text-align: center;
}
.segment--secondary .segment__section-heading {
  color: #fff;
}
@font-face {
  font-family: 'trifork-icons';
  src: url("../fonts/trifork-icons.woff?62504803") format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "trifork-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity: .8; */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-spin2:before {
  content: '\e800';
}
.icon-github-circled:before {
  content: '\e801';
}
.icon-cloud:before {
  content: '\e802';
}
.icon-ok:before {
  content: '\e803';
}
.icon-down-open:before {
  content: '\e804';
}
.icon-speech:before {
  content: '\e805';
}
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -ms-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.list-menu {
  display: block;
  width: 102.0833333333333%;
  margin: 0 -1.0416666666667%;
  *width: 102.0833333333333% -correction;
  *margin: 0 -1.0416666666667% -correction;
  margin: 0 auto;
}
.list-menu__list {
  display: inline;
  float: left;
  overflow: hidden;
  width: 14.5833333333333%;
  margin: 0 1.0416666666667%;
  *width: 14.5833333333333% -correction;
  *margin: 0 1.0416666666667% -correction;
}
.list-menu__heading {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}
.list-menu__item {
  display: block;
  margin-bottom: 7.5px;
  color: #fff;
  text-decoration: none;
}
.list-menu__item:hover {
  color: #000;
}
.link-list {
  margin-top: 60px;
}
.link-list__link {
  display: inline-block;
  padding: 15px 30px;
  color: #fa5b4d;
  text-decoration: none;
}
.link-list__link:hover {
  text-decoration: underline;
}
.link-list__link:before {
  content: '\e805';
  font-family: "trifork-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
/* opacity: .8; */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
  margin-right: 5px;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.1s, color 0.5s;
  -moz-transition: -moz-transform 0.1s, color 0.5s;
  -o-transition: -o-transform 0.1s, color 0.5s;
  -ms-transition: -ms-transform 0.1s, color 0.5s;
  transition: transform 0.1s, color 0.5s;
}
.link-list__link:hover:before {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  color: #fff;
}
.pretty-link {
  display: inline-block;
  color: #fa5b4d;
  text-decoration: none;
}
.pretty-link:hover {
  text-decoration: underline;
}
.pretty-link:before {
  content: '\e805';
  font-family: "trifork-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
/* opacity: .8; */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
  margin-right: 5px;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.1s, color 0.5s;
  -moz-transition: -moz-transform 0.1s, color 0.5s;
  -o-transition: -o-transform 0.1s, color 0.5s;
  -ms-transition: -ms-transform 0.1s, color 0.5s;
  transition: transform 0.1s, color 0.5s;
}
.pretty-link:hover:before {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  color: #fff;
}
.img-list {
  margin-top: 30px;
}
.img-list__item {
  margin-bottom: 15px;
}
.img-list__img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  margin-left: 15px;
}
.img-list__text {
  display: inline-block;
  vertical-align: middle;
}
.thumbnail-list {
  background-color: #272422;
  overflow-x: scroll;
  white-space: nowrap;
  max-height: 250px;
  padding: 60px 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
}
.thumbnail-list__item {
  display: inline-block;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.1s;
  -moz-transition: -moz-transform 0.1s;
  -o-transition: -o-transform 0.1s;
  -ms-transition: -ms-transform 0.1s;
  transition: transform 0.1s;
}
.thumbnail-list__thumbnail {
  width: 240px;
  border: solid 1px transparent;
  -webkit-transition: border-color 0.1s;
  -moz-transition: border-color 0.1s;
  -o-transition: border-color 0.1s;
  -ms-transition: border-color 0.1s;
  transition: border-color 0.1s;
}
.thumbnail-list__thumbnail:hover {
  border-color: #fff;
}
.thumbnail-list__item:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.thumbnail-list__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin-top: 7.5px;
}
.thumbnail-list__speaker {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}
.jumbo-list__item {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 90px;
  background-color: #fff;
  border: solid 1px #564f4b;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jumbo-list__item:not(:last-child) {
  margin-bottom: 30px;
}
.jumbo-list__header {
  font-size: 26px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
.jumbo-list__text {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
.jumbo-list__datetime {
  float: right;
  margin-right: -100px;
  margin-top: -70px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  background-color: #ff9115;
  color: #fff;
  padding: 30px;
}
.jumbo-list__empty-label {
  color: #fff;
  text-align: center;
}
.area-chart__area {
  fill: #ff9115;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: fill 1.2s, opacity 1.2s;
  -moz-transition: fill 1.2s, opacity 1.2s;
  -o-transition: fill 1.2s, opacity 1.2s;
  -ms-transition: fill 1.2s, opacity 1.2s;
  transition: fill 1.2s, opacity 1.2s;
}
.area-chart__line {
  stroke: #dd7500;
  stroke-width: 2px;
  fill: none;
  -webkit-transition: stroke 1.2s;
  -moz-transition: stroke 1.2s;
  -o-transition: stroke 1.2s;
  -ms-transition: stroke 1.2s;
  transition: stroke 1.2s;
}
.article {
  max-width: 1024px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.article h1 {
  margin-bottom: 60px;
  counter-reset: article-h2;
  counter-increment: article-h1;
}
.article h4 {
  font-family: "proxima-nova", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 7.5px;
  border-bottom: solid 1px #747474;
}
.article {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01rem;
  text-align: justify;
}
.article p:not(:last-child) {
  margin-bottom: 15px;
}
.article h2 {
  font-family: jaf-bernino-sans, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  margin-top: 60px;
  margin-bottom: 30px;
  counter-reset: article-h3;
  counter-increment: article-h2;
}
.article h2:before {
  content: counter(article-h2);
  margin-right: 15px;
}
.article h3 {
  font-family: "proxima-nova", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 7.5px;
  counter-increment: article-h3;
  margin-right: 15px;
}
.article h3:before {
  content: counter(article-h2) "." counter(article-h3);
  margin-right: 15px;
}
.toc {
  position: fixed;
  width: 100%;
  z-index: 3;
  -webkit-perspective: 100;
  -moz-perspective: 100;
  -ms-perspective: 100;
  perspective: 100;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -o-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}
.toc__container {
  margin: 0 auto;
  max-width: 900px;
  padding: 130px 60px 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #d3d3d3;
  box-shadow: 0 0 5px #d3d3d3;
}
.toc--hidden {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.toc__column {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666667%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666667% -correction;
}
@media screen and (max-width: 960px) {
  .toc__column {
    display: inline;
    float: left;
    overflow: hidden;
    width: 97.9166666666667%;
    margin: 0 1.0416666666667%;
    *width: 97.9166666666667% -correction;
    *margin: 0 1.0416666666667% -correction;
  }
}
.toc__title {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff9115;
  margin-bottom: 30px;
}
.toc__entry {
  width: 100%;
  display: block;
}
.toc__entry--level-1 {
  font-weight: 700;
}
.toc__entry--level-2 {
  font-size: 14px;
}
.toc__entry:hover {
  color: #ff9115;
}
.toc__entry:not(:last-child) {
  margin-bottom: 10px;
}
.toc__entry-title {
  float: left;
}
.toc__entry-number {
  float: right;
  width: 40px;
  text-align: right;
  font-family: monospace;
}
.article ol,
.article ul {
  padding: 0 15px;
  margin: 30px 0;
}
.article ul li {
  list-style-type: disc;
  margin-left: 30px;
}
.article ul li:not(:last-child) {
  margin-bottom: 10px;
}
.article ol li {
  list-style-type: decimal;
  margin-left: 30px;
}
.article ol li:not(:last-child) {
  margin-bottom: 10px;
}
.article blockquote {
  padding: 30px;
  font-family: "proxima-nova", Georgia, Cambria, "Times New Roman", Times, serif;
}
.article blockquote p {
  line-height: 1.1;
  margin-bottom: 0 !important;
}
.article .u-anchor {
  position: relative;
  margin-top: -50px;
}
.row {
  display: block;
  width: 102.0833333333333%;
  margin: 0 -1.0416666666667%;
  *width: 102.0833333333333% -correction;
  *margin: 0 -1.0416666666667% -correction;
}
.column-8 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 64.5833333333333%;
  margin: 0 1.0416666666667%;
  *width: 64.5833333333333% -correction;
  *margin: 0 1.0416666666667% -correction;
  overflow: visible;
}
.column-4 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666667%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666667% -correction;
}
.column-6 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.9166666666667%;
  margin: 0 1.0416666666667%;
  *width: 47.9166666666667% -correction;
  *margin: 0 1.0416666666667% -correction;
}
.notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0);
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}
.notification--visible {
  background-color: rgba(0,0,0,0.6);
}
.notification__window {
  background-color: #fff;
  padding: 30px;
  max-width: 600px;
  margin: 100px auto;
  -webkit-transform: translateY(-1000%);
  -moz-transform: translateY(-1000%);
  -o-transform: translateY(-1000%);
  -ms-transform: translateY(-1000%);
  transform: translateY(-1000%);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;
}
.notification--visible .notification__window {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
.notification__title {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}
.notification__description {
  margin-bottom: 30px;
}
.notification__buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.notification__button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #747474;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-family: "proxima-nova", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 400;
  border: none;
}
.notification__button--primary {
  background-color: #ff9115;
}
.map,
#map,
#worldMap {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: #000 !important;
}
.map--large,
.map--large #map,
.map--large #worldMap {
  height: 600px;
}
.map__label {
  width: 400px;
  line-height: 1.5;
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #fff;
  padding: 30px;
}
.map--large .map__label {
  top: auto;
  right: 100px;
  bottom: 100px;
  left: auto;
}
.map__title {
  font-size: 26px;
  font-weight: 400;
}
.content h2 {
  margin-bottom: 30px;
}
.content h3 {
  font-size: 26px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 30px;
}
.content p:not(:last-child) {
  margin-bottom: 15px;
}
.content code {
  font-family: monospace;
  color: #655f59;
}
.dropdown {
  background-color: #747474;
  border: 1px solid #5d5d5d;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.dropdown--hidden .dropdown__frame {
  display: none;
}
.dropdown--top-menu {
  display: inline-block;
  margin: 0 20px;
  line-height: 70px;
}
.dropdown__frame {
  position: absolute;
  right: 0;
}
.dropdown--top-menu {
  float: right;
}
#worldMap {
  background-color: #000;
}
.vcard {
  max-width: 600px;
  text-align: left;
}
.vcard > div:not(:last-child) {
  margin-bottom: 10px;
}
.vcard__name {
  font-size: 30px;
}
.vcard__field {
  width: 100px;
  display: inline-block;
  color: #808080;
}
.field-group {
  display: block;
  margin-bottom: 15px;
}
.field-group__label {
  display: block;
  margin-bottom: 7.5px;
}
.field-group__field,
.text-group__field {
  border: solid 1px #d3d3d3;
  padding: 7px;
  background-color: #fff;
  outline: none;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "proxima-nova", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 400;
}
.text-group__field {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.text-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.text-group__field--medium .text-group__field {
  height: 120px;
}
.letter {
  padding: 60px;
  background: -webkit-linear-gradient(top, #fff, #f7f7f8);
  background: -moz-linear-gradient(top, #fff, #f7f7f8);
  background: -o-linear-gradient(top, #fff, #f7f7f8);
  background: -ms-linear-gradient(top, #fff, #f7f7f8);
  background: linear-gradient(to bottom, #fff, #f7f7f8);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  -webkit-transition: -webkit-transform 5s;
  -moz-transition: -moz-transform 5s;
  -o-transition: -o-transform 5s;
  -ms-transition: -ms-transform 5s;
  transition: transform 5s;
  position: relative;
  z-index: 2;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: 600px;
  margin: 60px auto 0;
  -webkit-border-image: url("../img/letter_top.png") 100% 0 round;
  -moz-border-image: url("../img/letter_top.png") 100% 0 round;
  -o-border-image: url("../img/letter_top.png") 100% 0 round;
  border-image: url("../img/letter_top.png") 100% 0 round;
  border-width: 10px 0 10px 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.letter.letter--send {
  -webkit-transform: translate(9999px, -4200px) rotate(-90deg);
  -moz-transform: translate(9999px, -4200px) rotate(-90deg);
  -o-transform: translate(9999px, -4200px) rotate(-90deg);
  -ms-transform: translate(9999px, -4200px) rotate(-90deg);
  transform: translate(9999px, -4200px) rotate(-90deg);
}
.letter__content {
  margin-right: 150px;
}
.letter__stamp {
  background-image: url("../img/stamp.png");
  width: 150px;
  height: 139px;
  position: absolute;
  right: 30px;
  top: 20px;
}
.letter-container {
  position: relative;
}
.letter-container__thanks {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: jaf-bernino-sans, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 26px;
  font-weight: 400;
}
.segment--secondary .letter-container__thanks {
  color: #fff;
}
.letter__send {
  position: absolute;
  right: 60px;
  bottom: 60px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: none;
  height: 120px;
  width: 120px;
  background-color: #ff9115;
  font-size: 26px;
  font-weight: 400;
  color: #fff;
}
.logo-icon--transparent {
  margin-top: 170px;
  text-align: center;
  margin-bottom: 30px;
}
.logo-icon--transparent path {
  fill: #fff;
}
.segment--frontpage {
  height: 560px;
}
.think-software--frontpage {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#frontpageTeamGraph {
  position: absolute;
  height: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: visible;
}
.frontpageTeamGraph--active .area-chart__area {
  fill: #fa5b4d;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.frontpageTeamGraph--active .area-chart__line {
  stroke: #f8200d;
}
.segment--frontpage-goto {
  background-image: url("../img/goto_bg.jpg");
}
.segment--event-header {
  background-image: url("../img/gotonight_bg.jpg");
}
.u-text-center {
  text-align: center;
}
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table;
}
.cf:after {
  clear: both;
}
.u-hidden {
  display: none;
}
.u-disable-scrolling {
  height: 100%;
  overflow: hidden;
}
.u-anchor {
  display: inline-block;
  height: 1px;
  width: 1px;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: "proxima-nova", Georgia, Cambria, "Times New Roman", Times, serif;
  background-color: #fff;
  font-size: 18px;
}
h1,
h2,
h3,
h4 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: jaf-bernino-sans, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
p {
  line-height: 1.8;
}
em {
  font-style: italic;
  white-space: nowrap;
}
footer {
  text-align: center;
  color: #fff;
}
.read-more-link {
  border: solid 1px #ff9115;
  display: inline-block;
  padding: 15px 40px;
  text-decoration: none;
  color: #ff9115;
  margin: 60px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.read-more-link:hover {
  color: #000;
  background-color: #ff9115;
}
.read-more-link--expandable {
  color: #fff;
  background-color: #ff9115;
  -webkit-transition: background-color 100ms, color 100ms;
  -moz-transition: background-color 100ms, color 100ms;
  -o-transition: background-color 100ms, color 100ms;
  -ms-transition: background-color 100ms, color 100ms;
  transition: background-color 100ms, color 100ms;
}
.read-more-link--expandable:hover {
  color: #fff;
}
.read-more-link--centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  max-width: 300px;
}
/*# sourceMappingURL=main.css.map */