screen-xs-min = 480px
screen-sm-min = 768px
screen-xs-max = (screen-sm-min - 1)
screen-md-min = 992px
screen-sm-max = (screen-md-min - 1)
screen-lg-min = 1200px
screen-md-max = (screen-lg-min - 1)


.hidden-xs
  @media screen and (max-width: screen-xs-max)
    display none

/*
 * Import nib
 */
@import 'nib'

@import 'grid'

column-width = 60
gutter-width = 20
columns = 12

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

space-unit = 30px
ipad-content-max = 1024px

font-imposing()
  font-family: jaf-bernino-sans, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif

font-content()
  font-family "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif
  font-size 22px
  line-height 1.5
  font-weight 400
  letter-spacing 0.01rem

font-default()
  font-family "proxima-nova", Georgia, Cambria, "Times New Roman", Times, serif

font-monospace()
  font-family: monospace

font-mb()
  font-size 22px
  font-weight 700

font-ln()
  font-size 26px
  font-weight 400

font-lb()
  font-size 26px
  font-weight 700

font-m()
  font-size 22px
  font-weight 400

font-sb()
  font-size 14px
  font-weight 700

font-s()
  font-size 14px
  font-weight 400


/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa4f8a
color-bg = #ffffff
color-goto = #fa5b4d

color-bg-dark = black
color-bg-dark-secondary = #272422
color-bg-medium = #747474
color-primary = #ff9115
color-text-primary = #472702

color-text = black
color-text-inverse = white

color-link-inverse = color-text-inverse
color-link-inverse-hover = color-primary

color-info = #66A342;
color-warn = color-goto

@import top-menu
@import segment
@import icons
@import list-menu
@import link-list
@import img-list
@import thumbnail-list
@import jumbo-list
@import charts
@import article
@import "columns"
@import notifications
@import map
@import content
@import world-map
@import vcard
@import form
@import letter
@import big-numbers

@import "pages/frontpage"
@import "pages/events"
@import "pages/goto"

@import util

body
  -webkit-font-smoothing antialiased
  font-default()
  background-color color-bg
  font-size 18px

h1, h2, h3, h4
  -webkit-font-smoothing subpixel-antialiased
  font-imposing()

h1
  font-size: 42px

h2
  font-size: 31.5px

h3
  font-size: 18px

h4
  font-size: 16px

p
  line-height 1.8

em
  font-style italic
  white-space nowrap

svg
  overflow visible

footer
  text-align center
  color color-text-inverse

strong
  font-weight 700
  color color-primary

.read-more-link
  border solid 1px color-primary
  display inline-block
  padding 15px 40px
  text-decoration none
  color color-primary
  margin (space-unit * 2) 0 0
  border-radius 5px

.read-more-link:hover
  color color-text
  background-color color-primary
  border solid 1px white

.read-more-link--expandable
  color color-text-inverse
  background-color color-primary
  transition: background-color 100ms, color 100ms

.read-more-link--expandable:hover
  color color-text-inverse

.read-more-link--centered
  margin-left auto
  margin-right auto
  text-align center
  display block
  max-width 300px
