.map
  width: 100%
  height: 400px
  position relative

.map__label
  width: 400px
  line-height 1.5
  position absolute
  top 100px
  left 100px
  background-color color-bg
  padding space-unit

.map__title
  font-ln()