.segment
  padding space-unit * 3
  position relative
  z-index 100
  overflow hidden

.segment--offset
  margin-top top-menu-height

.segment--primary
  background-color color-primary

.segment__heading
  text-align center
  position relative
  z-index 2

.segment__subheading
  font-default()
  font-size 28px
  color darken(color-primary, 10%)

.segment__bottom-icon
  color black
  position absolute
  bottom space-unit
  width 100%
  text-align center
  left 0
  outline none
  background-color transparent
  border none
  font-size 30px
  cursor pointer

.segment__bottom-icon:hover
  color color-text-inverse

.segment__menu
  position absolute
  width 100%
  top 0
  left 0
  right 0
  text-align center

.segment__heading
  transition color 1s

.segment__lead
  text-align center
  max-width 900px
  position relative
  z-index 2
  margin (space-unit * 2) auto 0
  transition color 1s

.segment--secondary
  background-color color-bg-dark-secondary

.segment--secondary .segment__heading
  color: color-text-inverse

.segment--secondary .segment__lead
  color darken(color-text-inverse, 20%)


// FIXME: MOVE TO OWN FILE

container-width = 1100px

.case-study
  display block
  height 500px
  background-origin center center
  background-repeat no-repeat
  background-size cover

.case-study__content
  margin 0 auto
  width container-width

.case-study--fmk
  background-image url(../img/case_study_fmk.jpg)

.case-study--db
  background-image url(../img/case/mobilepay.png)

.case-study--cs
  background-image url(../img/case/credit_suisse.png)

// Expand Animation

.segment__button
  position relative
  z-index 2

.segment__expand
  border-radius 5px
  speed = 1s
  position absolute
  z-index 1
  transition top (speed/1.5), bottom (speed/2), left speed, right speed
  background-color color-primary

.segment--expanded .segment__heading
  color color-text-inverse

.segment--expanded .segment__lead
  color color-text-inverse

.segment--half
  padding (space-unit * 3)

.segment--bg-img
  background-repeat: no-repeat
  background-position: center
  background-size cover

.segment--left-shadowed
  text-align left
  color color-text-inverse
  text-shadow 0 0 5px #000

.segment--left-shadowed .segment__heading
  text-align left

.segment--left-shadowed .segment__lead
  text-align left
  max-width none
  margin-top (space-unit / 2)