.thumbnail-list
  background-color color-bg-dark-secondary
  overflow-x scroll
  white-space nowrap
  max-height 250px
  padding space-unit * 2 0
  box-sizing content-box
  text-align center

.thumbnail-list--small .thumbnail-list__thumbnail
  width 120px
  height 162px

.thumbnail-list__item
  display inline-block
  padding 10px
  transition transform 0.1s

.thumbnail-list__thumbnail
  width 240px
  border solid 1px transparent
  transition border-color 0.1s

.thumbnail-list__thumbnail:hover
  border-color color-text-inverse

.thumbnail-list__item:hover
  transform scale(1.2)

.thumbnail-list__title
  color color-text-inverse
  font-mb()
  margin-top (space-unit / 4)

.thumbnail-list--small .thumbnail-list__title
  font-sb()

.thumbnail-list__speaker
  color color-text-inverse
  font-m()

.thumbnail-list--small .thumbnail-list__speaker
  font-s()
