top-menu-height = 70px

.top-menu
  background-color rgba(color-bg-dark, 85%)
  height top-menu-height
  width 100%
  position fixed
  top 0
  z-index 300
  transition top 0.4s

.top-menu--alternative
  c = darken(color-bg, 5%)
  background-color rgba(c, 85%)
  border-bottom solid 1px c

.top-menu--alternative .top-menu__link
  color color-text

  &:before
    background-color color-text

.top-menu__logo
  background-image url(/img/logo.svg)
  background-repeat no-repeat
  size = 70px
  background-size size size
  width size
  height size
  display block
  position absolute
  top 35px
  transition all 1s
  margin-left space-unit

@media screen and (max-width screen-sm-max)
  .top-menu__logo
    top 0
    margin-left 0
    left 0

.top-menu--alternative .top-menu__logo
  background-image url(/img/logo_dark.svg)


.top-menu__logo:hover
  animation rumble linear 0.3s 0s infinite

@keyframes rumble {
  0%, 100% {
  }
  50% {
    transform: rotate(7deg)
  }
}

.top-menu__container
  margin 0 space-unit
  text-align center

.top-menu__nav
  list-style-type none
  font-size 18px
  font-default()

  &:not(.top-menu__nav--always)
    @media screen and (max-width: screen-sm-max)
      display none

.top-menu__link
  display inline-block
  margin 0 16px
  line-height top-menu-height
  color color-link-inverse
  text-decoration none
  transition color 0.2s
  position relative
  box-sizing content-box

  &:before
    content ""
    width 100%
    height 2px
    background-color white
    position: absolute
    bottom: 10px
    left 0
    opacity 0
    transition bottom 0.2s 0.1s, opacity 0.1s 0.1s

  &:hover:before
    opacity 0.9
    bottom: 19px

.top-menu--hidden
  top -120px
  @media screen and (max-width: screen-sm-max)
    top 0

.top-menu__button
  position absolute
  right 0
  top 0
  bottom 0
  min-width top-menu-height
  background-color transparent
  color white
  border none
  cursor pointer
  z-index 2
  display block
  font-size 16px

  // For some reason Safari gives buttons a 2px margin
  margin 0

.top-menu--alternative .top-menu__button
  background-color color-goto

.top-menu__button--resonsive-menu
  font-size 30px
  display none
  @media screen and (max-width screen-sm-max)
    display block

.top-menu--expanded .top-menu__button
  background-color #262626

.top-menu__dropdown
  display none
  background black
  position absolute
  top top-menu-height
  right 0
  min-width 200px
  text-align left

.top-menu--expanded .top-menu__dropdown
  display block

  @media screen and (min-width screen-md-min)
    display none

.top-menu__dropdown-item a
  color white
  padding (space-unit / 2)
  display block
  text-decoration none

.top-menu__dropdown-item a:hover
  background-color #404040

.top-menu__left-link
  display inline-block
  margin 0 20px
  position absolute
  right (space-unit / 2)
  color white

.top-menu__left-link .top-menu__link
  margin-right 0
  margin-left 5px
