#goto-page

  #stockholm-outline
    position absolute
    right 50px
    bottom 0

  #training b
    color color-info

  #goto-logo
    display  inline-block
    vertical-align middle
    width 150px
    padding-top: 10px;

  #stockholm
    display  inline
    vertical-align middle

  .segment--bg-img
    background-image url(/img/goto_page_bg.jpg)
