#goto-page
  z-index: 1

  #balloon
    transition all 1s linear
    opacity 0.8
    width: 50px
    z-index: 1

  #header
    z-index: 2

  #image
    border-image: url(../img/border.png) 100% 0 round
    border-top-width: 20px;

  #stockholm-outline
    position absolute
    right 50px
    bottom 0

  #training b
    color color-info

  #goto-logo
    display  inline-block
    vertical-align middle
    width 150px
    padding-top: 10px;

  #stockholm
    display  inline
    vertical-align middle

  .segment--bg-img
    background-image url(/img/goto_page_bg.jpg)
